@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Parisienne&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background: rgb(0, 0, 0);
}

/* header section */
header {
    background: linear-gradient(90deg, rgba(17, 17, 17, 0) 0%, rgb(17, 17, 17) 50%, rgba(167, 165, 165, 0) 100%);
    margin-bottom: 10rem;
}
header > nav {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > p {
    color: rgb(230, 83, 60);
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 120%;
}
nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    list-style: none;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
nav > ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 120%;
}
nav > ul > li:first-child {
    border: none;
    border-radius: 4.6rem;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
}
nav > ul > li:last-child {
    margin-right: 2.4rem;
}
nav > img {
    display: none;
}
.header-content-wrapper {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header-content {
    max-width: 520px;
}
.header-content > h1 {
    color: rgb(255, 255, 255);
    font-size: 7.8rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 2.8rem;
}
.style-h1 {
    font-family: "Parisienne", cursive;
    font-size: 7.8rem;
    font-weight: 400;
}
.header-content > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 2.8rem;
}
.header-btn1 {
    width: 224px;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    margin-right: 1.4rem;
    cursor: pointer;
}
.header-btn2 {
    width: 224px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    background: transparent;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    cursor: pointer;
}
.header-banner {
    position: relative;
    margin-left: 20rem;
}
.banner-card1 {
    position: absolute;
    bottom: 6.5rem;
    left: -11.5rem;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.circle {
    width: 40px;
    height: 40px;  
    background: rgb(230, 83, 60);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.banner-card1 > div > h2 {
    color: rgb(250, 250, 249);
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin-bottom: 0.8rem;
}
.banner-card1 > div > p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.banner-card2 {
    position: absolute;
    top: 12.5rem;
    right: -7.4rem;
    width: 193px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
}
.banner-card2 > h2 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}
.banner-card2 > p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

/* habits section */
.habits {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 10rem;
}
.habits-info {
    width: 80%;
    max-width: 671px;
    margin: 0 auto;
    margin-bottom: 6rem ;
}
.habits-info > h2 {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin-bottom: 1.4rem;
}
.habits-info > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
.habits-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}
.habits-card > img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(34, 34, 34);
    margin-bottom: 3rem;
}
.habits-card > h3 {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin-bottom: 0.6rem;
}
.habits-card > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}

/* run section */
.run {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 10rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.run-info {
    max-width: 445px;
    padding-left: 2rem;
}
.run-info > h2 {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 1.4rem;
}
.run-info > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 3.5rem;
}
.run-info > button {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    cursor: pointer;
}
.run-img {
    background: url("./images/run.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    max-width: 550px;
    height: 315px;
    flex-grow: 1;
}

/* training section */
.training {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 9rem;
}
.training-info {
    max-width: 671px;
    width: fit-content;
    margin-bottom: 6rem;
}
.training-info > h2 {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 1.4rem;
}
.training-info > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.training-img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 215px);
}
.training-img-container > div {
    width: 100%;
    height: 100%;
}
.img1 {
    background: linear-gradient(0.00deg, rgba(6, 255, 210, 0.5), 
    rgba(6, 255, 210, 0.5)), url(./images/exercise1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
    grid-column: 1 / span 3;
}
.img1 > p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    bottom: 2rem;
    left: 1.5rem;
}
.img2 {
    background: linear-gradient(0.00deg, rgba(255, 0, 0, 0.3), 
    rgba(255, 0, 0, 0.3)), url(./images/exercise2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    grid-column: 4 / span 5;
}
.img2 > p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    top: 2rem;
    left: 2rem;
}
.img3 {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), url(./images/exercise3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    grid-column: 9 / span 4;
}
.img3 > p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    bottom: 2rem;
    left: 2.5rem;
}
.img4 {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), url(./images/exercise4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    grid-column: 1 / span 4;
}
.img4 > p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    top: 2.5rem;
    right: 2rem;
}
.img5 {
    background: linear-gradient(0.00deg, rgba(66, 255, 0, 0.3), 
    rgba(66, 255, 0, 0.3)), url(./images/exercise5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    grid-column: 5 / span 3;
}
.img5 > p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    bottom: 2rem;
    left: 2.5rem;
}
.img6 {
    background: linear-gradient(0.00deg, rgba(0, 71, 255, 0.3), 
    rgba(0, 71, 255, 0.3)), url(./images/exercise6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    grid-column: 8 / span 5;
}
.img6 > p {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    bottom: 2rem;
    left: 2.5rem;
}

/* bmi section */
.bmi {
    margin-bottom: 9rem;
}
.bmi-info {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 9rem;
}
.bmi-info > h2 {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 1.4rem;
}
.bmi-info > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.charts-container {
    background: rgb(34, 34, 34);
}
.charts-wrapper {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15rem;
    flex-wrap: wrap;
    padding: 5rem 0;
}
.charts {
    width: max-content;
    flex-grow: 1;
}
.charts > h3 {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 5rem;
}
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: left;
}
table {
    width: 100%;
}
th, td {
    padding: 1.5rem;
}
th {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%;
}
td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
}
.calculate {
    width: 577px;
    flex-grow: 1;
}
.calculate > h3 {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 1.4rem;
}
.calculate > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 3.5rem;
}
.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
.input-container > input {
    padding: 18px 40px 18px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}

.input-container > input:last-child {
    grid-column: 1 / span 2;
}
.calculate > button {
    width: 224px;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    cursor: pointer;
    margin-top: 3.5rem;
}

/* team section */
.team {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 9rem;
}
.team-info {
    width: 80%;
    max-width: 671px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.team-info > h2 {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin-bottom: 1.4rem;
}
.team-info > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
.trainer-container {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.trainer1, 
.trainer2, 
.trainer3, 
.trainer4,
.trainer5,
.trainer6 {
    border-radius: 18px;
    width: 100%;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.trainer1 {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), url(./images/trainer1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.trainer2 {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), url(./images/trainer2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.trainer3 {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), url(./images/trainer3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.trainer4 {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), url(./images/trainer4.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.trainer5 {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), url(./images/trainer5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trainer6 {
    background: linear-gradient(0.00deg, rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)), url(./images/trainer6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trainer-heading, .member-tag {
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 1.5rem;
    left: 1.5rem;
}
.member-tag {
    margin-top: 0.5rem;
    font-weight: 200;
}



/* responsive for mobile */
@media screen and (max-width: 576px) {
    header > nav {
        width: 90%;
        padding-top: 5rem;
    }
    nav > ul {
        display: none;
    }
    nav > img {
        display: block;
        width: 32px;
        height: 32px;
    }
    .header-content-wrapper {
        width: 90%;
        flex-direction: column;
        gap: 5rem;
        flex-wrap: nowrap;
        margin-top: 5rem;
    }
    .header-content {
        width: 100%;
        margin-top: 0;
    }
    .header-content > h1 {
        max-width: 285px;
        font-size: 3.6rem;
        font-weight: 900;
    }
    .style-h1 {
        font-size: 3.6rem;
    }
    .header-content > p {
        max-width: 274px;
    }
    .header-btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.4rem;
    }
    .header-btn1, .header-btn2 {
        padding: 14px 20px 14px 20px;
        width: fit-content;
        flex-grow: 1;
        margin: 0;
    }
    .header-banner {
        width: 100%;
        margin: 0;
    }
    .header-banner > img {
        width: 100%;
        height: 480px;
        object-fit: cover;
        object-position: top;
    }
    .banner-card1 {
        bottom: 160px;
        left: 0;
        width: 155.74px;
        height: 72.58px;
        gap: 0.7rem;
    }
    .circle {
        width: 30.24px;
        height: 30.24px;
    }
    .banner-card1 > div > h2 {
        font-size: 18.14px;
        margin-bottom: 0.519rem;
    }
    .banner-card1 > div > p {
        font-size: 12.1px;
    }
    .banner-card2 {
        top: 50px;
        right: 0;
        width: 145px;
        height: 74px;
    }
    .banner-card2 > h2  {
        font-size: 30.24px;
    }
    .banner-card2 > p {
        font-size: 9.83px;
    }

    /* habits section */
    .habits {
        width: 90%;
        margin-bottom: 6.5rem;
    }
    .habits-info {
        width: 100%;
    }
    .habits-info > h2 {
        font-size: 3.2rem;
    }
    .habits-cards-wrapper {
        width: 60%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }

    /* run section */
    .run {
        box-sizing: border-box;
        width: 90%;
        flex-direction: column;
        padding: 3.5rem;
        margin-bottom: 6.5rem;
        flex-wrap: nowrap;
    }
    .run-info {
        width: 100%;
        padding: 0;
    }
    .run-info > h2 {
        font-size: 3.2rem;
    }
    .run-info > p {
        margin-bottom: 2.4rem;
    }
    .run-info > button {
        width: 100%;
        cursor: pointer;
    }
    .run-img {
        width: 100%;
        height: 170px;
        flex-grow: 0;
    }

    /* training section */
    .training {
        width: 90%;
        margin-bottom: 3rem;
    }
    .training-info {
        margin-bottom: 4rem;
    }
    .training-info > h2 {
        font-size: 3.2rem;
    }
    .img1 {
        grid-column: 1 / span 6;
    }
    .img2 {
        grid-column: 7 / span 6;
        background-position: 65%;
    }
    .img3, .img6 {
        display: none;
    }
    .img4 {
        grid-column: 1 / span 5;
        background-position: 35%;
    }
    .img4 > p {
        top: auto;
        bottom: 2rem;
        right: auto;
        left: 1.5rem;
    }
    .img5 {
        grid-column: 6 / span 7;
    }
    
    /* bmi section */
    .bmi {
        margin-bottom: 6.5rem;
    }
    .bmi-info {
        width: 90%;
        margin-bottom: 3rem;
    }
    .bmi-info > h2 {
        font-size: 3.2rem;
    }
    .charts-wrapper {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 3rem 0;
    }
    .charts {
        width: 100%;
        flex-grow: 0;
    }
    .charts > h3 {
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }
    .calculate {
        width: 100%;
        flex-grow: 0;
    }
    .calculate > h3 {
        font-size: 1.6rem;
    }
    .input-container > input {
        box-sizing: border-box;
        width: 100%;
        padding: 18px 40px 18px 20px;
    }
}